/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#visual {
  width: 100%;
  z-index: 0;
}
#visual .banner {
  margin: auto;
  width: 1280px;
  height: 500px;
  overflow: hidden;
  border: 1px solid #000;
  position: relative;
}
#visual .banner li {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
}
#visual .banner li:nth-child(1) {
  background-color: aqua;
  left: 0;
}
#visual .banner li:nth-child(2) {
  background-color: rgb(59, 80, 0);
}
.con1 {
  margin-top: 30px;
}
.con1 .article {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  width: 1280px;
  height: 170px;
}
.con1 .article .service {
  height: 170px;
}
.con1 .article .service-setting {
  width: 290px;
  height: 170px;
  background: linear-gradient(180deg, #15a6b3 0%, #00393f 277.41%);
}
.con1 .article .service-setting .txt {
  padding: 45px;
}
.con1 .article .service-setting .txt h3 {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
}
.con1 .article .service-setting .txt p {
  color: #ffffff;
  display: flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  gap: 5px;
  border-radius: 20px;
  background: rgba(53, 53, 53, 0.5);
  width: 99px;
}
.con1 .article .service-setting .txt p img {
  width: 16px;
  height: 16px;
}
.con1 .article .service-icons {
  width: 1000px;
  height: 170px;
  background-color: #f1f2f4;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.con1 .article .service-icons .icon-box {
  display: flex;
  width: 120px;
  height: 160px;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.con1 .article .service-icons .icon-box .img-wrap {
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: relative;
}
.con1 .article .service-icons .icon-box .img-wrap img {
  width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.con1 .article .service-icons .icon-box p {
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  width: 120px;
  height: 45px;
}

.con2 {
  margin-top: 20px;
}
.con2 .article {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.con2 .article .news-wrap {
  padding: 30px 20px;
}
.con2 .article .news-wrap .news {
  color: #ffffff;
  background-color: #ffffff;
  width: 300px;
  height: 260px;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  border: 1px solid #a0a2a5;
  word-break: keep-all;
}
.con2 .article .news-wrap .news h2 {
  font-size: 20px;
  font-weight: 500;
}
.con2 .article .news-wrap .news strong {
  font-size: 20px;
  font-weight: 700;
}
.con2 .article .news-wrap .news p {
  font-size: 16px;
}
.con2 .article .news-wrap .news button {
  border: none;
  border-radius: 50px;
  outline: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 80px;
  height: 80px;
}
.con2 .article .news-wrap .news button p {
  font-size: 20px;
  font-weight: 500;
  color: #45637d;
  line-height: 1.2;
  color: #ffffff;
}
.con2 .article .news-wrap .news-notice {
  background-image: url("/images/news_img01.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.con2 .article .news-wrap .news-notice button {
  background-color: #45637d;
}
.con2 .article .news-wrap .news-rec {
  color: #000000;
}
.con2 .article .news-wrap .news-rec button {
  background-color: #07a1af;
}
.con2 .article .event-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 20px;
  width: 910px;
  height: 600px;
  background-color: #f9fafb;
  padding: 25px;
}
.con2 .article .event-wrap .event-box {
  width: 420px;
  height: 260px;
  background-color: #ffffff;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.con2 .article .event-wrap .event-box1 {
  background-image: url("/images/event-img1.png");
}
.con2 .article .event-wrap .event-box2 {
  background-image: url("/images/event-img2.png");
}
.con2 .article .event-wrap .event-box3 {
  background-image: url("/images/event-img3.png");
}
.con2 .article .event-wrap .event-box4 {
  background-image: url("/images/event-img4.png");
}

.con3 {
  margin-top: 30px;
  margin-bottom: 100px;
  position: relative;
}
.con3::after {
  content: "";
  width: 100%;
  height: 390px;
  background-color: #c4e2fc;
  position: absolute;
  bottom: 0;
  z-index: -10;
  left: 50%;
  transform: translateX(-50%);
}
.con3::before {
  content: "";
  width: 780px;
  height: 170px;
  background-color: #c4e2fc;
  border-radius: 205px 0px 0px 0px;
  position: absolute;
  top: 0%;
  z-index: -10;
  right: 0;
}
.con3 .article .sns-box {
  display: flex;
  gap: 20px;
  margin: 50px 0;
}
.con3 .article .sns-box h3 {
  font-size: 36px;
  font-weight: 700;
  color: #07a1af;
  line-height: 1.1;
}
.con3 .article .sns-box h3 span {
  color: #45637d;
}
.con3 .article .sns-box .sns-icon {
  display: flex;
}
.con3 .article .sns-box .sns-icon li {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.con3 .article .sns-box .sns-icon li img {
  width: 40px;
}
.con3 .article .sns-box .sns-icon li p {
  color: #535455;
  font-size: 24px;
  font-weight: 500;
  margin: 0px 10px;
}
.con3 .article .bg-wrap {
  height: 430px;
  display: flex;
  justify-content: center;
  gap: 70px;
}
.con3 .article .bg-wrap .youtube-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding: 10px;
  box-sizing: border-box;
}
.con3 .article .bg-wrap .youtube-list .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  justify-content: center;
}
.con3 .article .bg-wrap .youtube-list .youtube-sm {
  width: 650px;
  display: flex;
  gap: 70px;
  display: flex;
  gap: 45px;
}
.con3 .article .bg-wrap .youtube-list .youtube-sm li {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.con3 .article .bg-wrap .youtube-list .youtube-sm li > a img {
  width: 310px;
  height: 190px;
  border-radius: 20px;
  background-color: #000;
}
.con3 .article .bg-wrap .youtube-list .youtube-sm li strong {
  font-size: 20px;
  font-weight: 500;
  word-break: keep-all;
  padding: 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.con3 .article .bg-wrap .youtube-list .youtube-sm li p {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.con3 .article .bg-wrap .youtube-list .youtube-sm li p img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.con3 .article .bg-wrap .youtube-lg {
  width: 580px;
  height: 390px;
  position: relative;
}
.con3 .article .bg-wrap .youtube-lg::after {
  content: "";
  width: 90%;
  height: 100%;
  position: absolute;
  bottom: -5%;
  right: 3%;
  border-radius: 20px 20px 70px 20px;
  border: 1px solid #1662a4;
  z-index: -1;
}
.con3 .article .bg-wrap .youtube-lg .logo-sm {
  display: flex;
  width: 60px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #ffffff;
  position: absolute;
  top: -10%;
  right: 0%;
  border-radius: 5px;
}
.con3 .article .bg-wrap .youtube-lg .logo-sm img {
  width: 100%;
  height: 100%;
}
.con3 .article .bg-wrap .youtube-lg .img-wrap {
  width: 544px;
  height: 303px;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
}
.con3 .article .bg-wrap .youtube-lg .img-wrap .video {
  width: 544px;
  height: 303px;
  background-color: #bd4545;
  background-position: 0 0;
  background-size: cover;
}
.con3 .article .bg-wrap .youtube-lg .sub-wrap {
  padding: 20px 20px 20px 50px;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: flex-start;
}
.con3 .article .bg-wrap .youtube-lg .sub-wrap img {
  margin-top: 5px;
  width: 20px;
  margin-right: 10px;
}
.con3 .article .bg-wrap .youtube-lg .sub-wrap h2 {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
} */
