@use 'style' as *;

.con {
    .inner {
        .article {
        }
    }
}
.con1 {
    margin-top: 30px;
    .article {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $border-xl;
        overflow: hidden;
        width: 1280px;
        height: 170px;

        .service {
            height: 170px;
            &-setting {
                width: 290px;
                height: 170px;
                background: linear-gradient(180deg, #15a6b3 0%, #00393f 277.41%);
                .txt {
                    padding: 45px;
                    h3 {
                        font-size: 28px;
                        font-weight: 700;
                        color: $white;
                    }
                    p {
                        color: $white;
                        display: flex;
                        padding: 6px 10px;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 700;
                        gap: 5px;
                        border-radius: 20px;
                        background: rgba(53, 53, 53, 0.5);
                        width: 99px;
                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
            &-icons {
                width: 1000px;
                height: 170px;
                background-color: $greyScale-color-200;
                display: flex;
                justify-content: center;
                gap: 20px;
                .icon-box {
                    display: flex;
                    width: 120px;
                    height: 160px;
                    padding: 10px 0px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    transition: 0.5s;
                    &:hover {
                        transform: scale(105%);
                        cursor: pointer;
                    }
                    .img-wrap {
                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                        position: relative;

                        img {
                            width: 80%;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    p {
                        color: $black;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        width: 120px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}

.con2 {
    margin-top: 20px;
    .article {
        display: flex;
        justify-content: center;
        gap: 20px;
        .news-wrap {
            padding: 30px 20px;
            .news {
                color: $white;
                background-color: $white;
                width: 300px;
                height: 260px;
                padding: 20px;
                // box-sizing: border-box;
                border-radius: $border-xl;
                margin-bottom: 30px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
                position: relative;
                border: 1px solid $greyScale-color-600;
                word-break: keep-all;
                h2 {
                    font-size: 20px;
                    font-weight: 500;
                }
                strong {
                    font-size: 20px;
                    font-weight: 700;
                }
                p {
                    font-size: 16px;
                }
                button {
                    border: none;
                    border-radius: 50px;
                    outline: none;
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                    width: 80px;
                    height: 80px;

                    p {
                        font-size: 20px;
                        font-weight: 500;
                        color: $LogoColor_sub;
                        line-height: 1.2;
                        color: $white;
                    }
                }
            }
            .news-notice {
                background-image: url('images/news_img01.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: cover;
                button {
                    background-color: $LogoColor_sub;
                }
            }
            .news-rec {
                color: $black;

                button {
                    background-color: $LogoColor_main;
                }
            }
        }
        .event-wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 20px;
            width: 910px;
            height: 600px;
            background-color: $greyScale-color-100;
            padding: 25px;
            // box-sizing: border-box;
            .event-box {
                width: 420px;
                height: 260px;
                background-color: $white;
                border-radius: $border-sm;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                transition: 0.5s;
                &:hover {
                    transform: scale(105%);
                    cursor: pointer;
                }
                &1 {
                    background-image: url('images/event-img1.png');
                }
                &2 {
                    background-image: url('images/event-img2.png');
                }
                &3 {
                    background-image: url('images/event-img3.png');
                }
                &4 {
                    background-image: url('images/event-img4.png');
                }
            }
        }
    }
}

.con3 {
    margin-top: 30px;
    margin-bottom: 100px;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        height: 390px;
        background-color: $sub-color-100;
        position: absolute;
        bottom: 0;
        z-index: -10;
        left: 50%;
        transform: translateX(-50%);
    }
    &::before {
        content: '';
        width: 780px;
        height: 170px;
        background-color: $sub-color-100;
        border-radius: 205px 0px 0px 0px;

        position: absolute;
        top: -0%;
        z-index: -10;
        right: 0;
    }
    .article {
        .sns-box {
            display: flex;
            gap: 20px;
            margin: 50px 0;
            h3 {
                font-size: 36px;
                font-weight: 700;
                color: $LogoColor_main;
                line-height: 1.1;
                span {
                    color: $LogoColor_sub;
                }
            }
            .sns-icon {
                display: flex;
                li {
                    padding-top: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 40px;
                    }
                    p {
                        color: $greyScale-color-800;
                        font-size: 24px;
                        font-weight: 500;
                        margin: 0px 10px;
                    }
                }
            }
        }
        .bg-wrap {
            height: 430px;
            display: flex;
            justify-content: center;
            gap: 70px;

            .youtube-list {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: end;
                padding: 10px;
                box-sizing: border-box;

                .btn-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 80px;
                    justify-content: center;
                }
                .youtube {
                    &-sm {
                        width: 650px;
                        display: flex;
                        gap: 70px;
                        display: flex;
                        gap: 45px;
                        li {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;
                            & > a img {
                                width: 310px;
                                height: 190px;
                                border-radius: $border-xl;
                                background-color: #000;
                            }
                            strong {
                                font-size: 20px;
                                font-weight: 500;
                                word-break: keep-all;
                                padding: 0 10px;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            p {
                                display: flex;
                                align-items: center;
                                font-size: 12px;
                                img {
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
            .youtube-lg {
                width: 580px;
                height: 390px;
                position: relative;

                &::after {
                    content: '';
                    width: 90%;
                    height: 100%;

                    position: absolute;
                    bottom: -5%;
                    right: 3%;
                    border-radius: 20px 20px 70px 20px;
                    border: 1px solid $sub-color-700;
                    z-index: -1;
                }
                .logo-sm {
                    display: flex;
                    width: 60px;
                    padding: 10px;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    background-color: $white;
                    position: absolute;
                    top: -10%;
                    right: 0%;
                    border-radius: $border-sm;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .img-wrap {
                    width: 544px;
                    height: 303px;
                    border-radius: $border-xl;
                    overflow: hidden;
                    z-index: 1;

                    .video {
                        width: 544px;
                        height: 303px;
                        background-color: #bd4545;
                        background-position: 0 0;
                        background-size: cover;
                    }
                }
                .sub-wrap {
                    padding: 20px 20px 20px 50px;

                    display: flex;
                    justify-content: center;
                    gap: 5px;
                    align-items: flex-start;
                    img {
                        margin-top: 5px;
                        width: 20px;
                        margin-right: 10px;
                    }
                    h2 {
                        font-size: 20px;
                        font-weight: 500;
                        width: 80%;
                        word-break: keep-all;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
    .youtube-lg.fade-out {
        opacity: 0;
        transition: opacity 0.3s ease;
    }
    .youtube-lg.fade-in {
        opacity: 1;
        transition: opacity 0.3s ease;
    }
}

#visual {
    width: 100%;
    z-index: 0;
    .swiper {
        margin: auto;
        width: 100%;
        height: 100%;
        width: 1280px;
        height: 500px;
        overflow: hidden;
        position: relative;
        border-radius: $border-xl;
        &-slide {
            text-align: center;
            font-size: 18px;
            background: #444;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            &:nth-child(2) {
                left: 100%;
            }
            .visual-txt {
                position: absolute;
                color: $white;
                left: 70px;
                bottom: 60px;
                text-align: left;
                line-height: 1.2;
                h2 {
                    font-weight: 700;
                    font-size: 48px;
                }
                p {
                    font-weight: 400;
                    font-size: 36px;
                }
            }
        }
        &-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &-button {
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #00393f;

            &-next,
            &-prev {
                opacity: 0.8;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) scale(30%);
                z-index: 10;
                color: #fff;
                cursor: pointer;
                &:hover {
                    opacity: 1;
                }
            }
            &-next {
                right: 10px;
            }
            &-prev {
                left: 10px;
            }
        }
        &-pagination {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
        }
    }
}
