@use 'style' as *;
// @import './style';

// main.scss (Sass tokens via relative @use)

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
//swiper

#visual {
    width: 100%;
    z-index: 0;

    .banner {
        margin: auto;
        width: 1280px;
        height: 500px;
        overflow: hidden;
        border: 1px solid #000;
        position: relative;
        li {
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 100%;
            &:nth-child(1) {
                background-color: aqua;
                left: 0;
            }
            &:nth-child(2) {
                background-color: rgb(59, 80, 0);
            }
            // z-index: 1;

            .visual-txt {
                h2 {
                }
                p {
                }
            }
        }
    }
}

.con {
    .inner {
        .article {
        }
    }
}
.con1 {
    margin-top: 30px;

    .article {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        overflow: hidden;
        width: 1280px;
        height: 170px;

        .service {
            height: 170px;

            &-setting {
                width: 290px;
                height: 170px;
                background: linear-gradient(
                    180deg,
                    $LogoColor_main 0%,
                    darken($LogoColor_main, 40%) 277.41%
                );

                .txt {
                    padding: 45px;

                    h3 {
                        font-size: 28px;
                        font-weight: 700;
                        color: $white;
                    }

                    p {
                        color: $white;
                        display: flex;
                        padding: 6px 10px;
                        justify-content: center;
                        align-items: center;
                        font-size: 16px;
                        font-weight: 700;
                        gap: 5px;
                        border-radius: 20px;
                        background: rgba($black, 0.5);
                        width: 99px;

                        img {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            &-icons {
                width: 1000px;
                height: 170px;
                background-color: $greyScale-color-200;
                display: flex;
                justify-content: center;
                gap: 20px;

                .icon-box {
                    display: flex;
                    width: 120px;
                    height: 160px;
                    padding: 10px 0;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 15px;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.05);
                        cursor: pointer;
                    }

                    .img-wrap {
                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                        position: relative;

                        img {
                            width: 80%;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    p {
                        color: $black;
                        font-size: 16px;
                        font-weight: 500;
                        width: 120px;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
