$LogoColor_grey: #4d4e50;
$LogoColor_sub: #45637d;
$LogoColor_main: #07a1af;
$white: #ffffff;
$black: #000000;
$main-color-0: #f5feff;
$main-color-100: #c6f8fc;
$main-color-200: #99eff7;
$main-color-300: #72e5f0;
$main-color-400: #52d9e5;
$main-color-500: #3ac9d6;
$main-color-600: #28b5c2;
$main-color-700: #1c9da9;
$main-color-800: #13828c;
$main-color-900: #0d666e;
$sub-color-0: #f5faff;
$sub-color-100: #c4e2fc;
$sub-color-200: #96c9f7;
$sub-color-300: #6db2ef;
$sub-color-400: #4d9de3;
$sub-color-500: #3489d3;
$sub-color-600: #2376bf;
$sub-color-700: #1662a4;
$sub-color-800: #0e4e86;
$sub-color-900: #093b66;
$greyScale-color-0: #ffffff;
$greyScale-color-100: #f9fafb;
$greyScale-color-200: #f1f2f4;
$greyScale-color-300: #e4e6e8;
$greyScale-color-400: #d4d5d8;
$greyScale-color-500: #bdbfc2;
$greyScale-color-600: #a0a2a5;
$greyScale-color-700: #7c7e80;
$greyScale-color-800: #535455;
$greyScale-color-900: #282829;
$border-sm: 5px;
$border-md: 10px;
$border-lg: 16px;
$border-xl: 20px;
