@use './style' as *;

// sub_institute.scss (Sass tokens via relative @use)
.kimeye-breadcrumb-wrap {
  .breadcrumb {
    display: flex;
    align-items: center;

    li {
      margin-right: 25px;
      position: relative;

      &::after {
        content: url(../images/icon/arrow_right.svg);
        position: absolute;
        top: 10%;
      }

      a {
        font-size: 20px;
        font-weight: 400;
        color: $black;

        &:hover {
          text-decoration: underline;
        }
      }

      img {
        width: 20px;
      }
    }
  }

  h2 {
    font-size: 32px;
    margin: 30px 0;
    font-weight: 700;
  }
}

.ins-tab-area {
  width: 100%;

  .tablist {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 1250px;

    .tab-box {
      border: 1px solid $greyScale-color-500;
      border-radius: 5px;
      height: 70px;
      line-height: 70px;
      width: 100%;
      text-align: center;
      cursor: pointer;

      &.on,
      &:hover {
        background-color: $LogoColor_main;
        border-color: $LogoColor_main;
        color: $white;
      }
    }
  }
}

.con {
  position: relative;
}

.con1 {
  &::after {
    content: '';
    position: absolute;
    width: 1300px;
    height: 520px;
    border: 12px solid $greyScale-color-100;
    border-radius: 20px;
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
    z-index: -10;
  }

  .intro {
    width: 100%;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    gap: 90px;

    .img {
      padding: 20px;

      .img-wrap {
        margin-top: 40px;
        width: 590px;
        height: 430px;
        overflow: hidden;
        border-radius: 10px;

        img {
          background-color: antiquewhite;
          width: 100%;
          height: 100%;
        }
      }
    }

    .txt {
      margin-top: 80px;

      h3 {
        font-size: 32px;
        font-weight: 600;
        margin: 10px 0;
      }

      .txt-wrap {
        border-radius: 5px;
        overflow: hidden;
        background-color: $greyScale-color-200;
        color: $sub-color-700;
        padding: 20px 30px;
        width: 480px;
        word-break: keep-all;

        strong {
          font-size: 20px;
          font-weight: 700;
        }

        p {
          font-size: 20px;
          font-weight: 500;
        }
      }

      .btn-wrap {
        margin-top: 20px;

        button {
          padding: 15px;
          border: 1px solid $LogoColor_main;
          color: $main-color-800;
          background-color: $white;
          border-radius: 10px;
          margin-right: 10px;
          font-weight: 500;
        }
      }
    }
  }
}