@use 'style' as *;

.kimeye-breadcrumb-wrap {
    .breadcrumb {
        display: flex;
        align-items: center;
        li {
            margin-right: 25px;
            position: relative;
            &::after {
                content: url(/images/icon/arrow_right.svg);
                position: absolute;
                top: 10%;
                // transform: translateY(-50%);
            }
            a {
                font-size: 20px;
                font-weight: 400;
                color: $black;
                &:hover {
                    text-decoration: underline;
                }
            }
            img {
                width: 20px;
            }
        }
    }
    h2 {
        font-size: 32px;
        margin: 30px 0;
        font-weight: 700;
    }
}

.doc-tab-area {
    width: 100%;

    .tablist {
        margin: 60px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        width: 1280px;

        .tab-box {
            border: 1px solid $greyScale-color-500;
            border-radius: $border-sm;
            height: 70px;
            line-height: 70px;
            width: 170px;
            text-align: center;
            &.on,
            &:hover {
                cursor: pointer;
                background-color: $LogoColor_main;
                border: 1px solid $LogoColor_main;
                color: $white;
            }
        }
    }
    &2 {
        .tablist {
            width: 340px;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
        }
    }
}

.con {
    .doctor-list-wrap {
        margin: auto;
        width: 1230px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .doctor-item {
            border-radius: 5px;
            border: 2px solid $greyScale-color-400;
            background: $white;
            padding: 30px;
            box-sizing: border-box;
            width: 600px;
            height: 260px;
            display: flex;
            justify-content: center;
            gap: 40px;
            .txt-line {
                h3 {
                    font-size: 32px;
                    font-weight: 500;
                    margin-bottom: 50px;
                    span {
                        font-size: 24px;
                        font-weight: 500;
                        color: $greyScale-color-600;
                        margin-left: 10px;
                    }
                }
                strong {
                    font-size: 24px;
                    font-weight: 500;

                    span {
                        margin-left: 20px;
                        color: $greyScale-color-600;
                        position: relative;
                        &::after {
                            content: '';
                            position: absolute;
                            left: -10px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 80%;
                            background: $greyScale-color-200;
                        }
                    }
                }
                .tap {
                    margin-top: 20px;
                    button {
                        padding: 10px;
                        margin-right: 10px;
                        border-radius: $border-sm;
                        border: none;
                        font-size: 16px;
                        font-weight: 500;
                        &:first-child {
                            background-color: $main-color-700;
                            color: $white;
                        }
                        &:last-child {
                            cursor: pointer;
                            background-color: $greyScale-color-100;
                            &:hover {
                                color: $white;
                                background-color: $greyScale-color-700;
                                img {
                                    filter: invert(100%);
                                }
                            }
                        }
                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
